<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center">
      {% include 'navbar.html' %}

        <h1>this is our official website about</h1>

        <form action="/index/" method='POST'>
        {% csrf_token %} 
        <input type="text" name="check">
         <button>send</button>
        </form>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident doloribus sit consectetur deserunt tempora error?</p>
         <button>contact</button>
         {% if isActive %}
         <div>
            <h1>Todays date is {{date}}</h1>
            <h1>Name is  : - {{name}}</h1>
            
            <hr>
            <h1>Student data</h1>
            <h2>Student name : {{student_data.st_name}}</h2>
          
         </div>
         {% endif %}

         <hr>
         <h1>Favourite programs</h1>

         {% for p in list_of_program %}
           <h3>{{p}}</h3>
         {% endfor %}
        </div>
</body>
</html>